{{ form_start(form) }}
    <div class="uk-width-1-2@s">
        {{ form_row(form.nom) }}
    </div>
    <button class="uk-button uk-button-primary uk-box-shadow-medium uk-box-shadow-hover-large">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
