{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="uk-button uk-button-primary uk-box-shadow-medium uk-box-shadow-hover-large">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
